body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #12263A;
    color: #F4EDEA;
    text-align: center;
    padding: 15px;
}

nav {
    background-color: #06BCC1;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: left;
}
